.header {
	width: 1150px;
	height: 86px;
	border: 2px solid black;
	margin: 0px auto;
	border-bottom: none;
}

.header_title {
	float: left; font-size : 36px;
	font-weight: bold;
	font-family: Arial;
	color: #0000bb;
	padding: 22px;
	font-size: 36px;
}

.footer {
	border: 2px solid black;
	border-top: none;
	width: 1150px;
	margin: 0px auto;
	font-size: 18px;
	text-align: center;
	padding: 5px 0;
}

.body {
	position: relative;
	margin: 0px auto;
	border: 2px solid black;
	float: center;
	background: #ffffff;
	color: #000;
	width: 1150px;
	height: 750px;
	font-size: 14px;
	overflow-y: auto;
}

.localization {
	float: right;
	margin: 30px 10px 0 0;
}

span a {
	font-size: 19px;
	margin-right: 8px;
}