.newslist {
	padding: 0 0 0 5px;
    margin-bottom: 65px;
}

.news_title_author_date {
	width: 1150px;
}

.newslist .title {
    margin-top: 30px;
	margin-left: 20px;
    font-size: 21px; 
    font-weight: 700;
    text-align: left;
    padding: 0px 0px 0px 35px; 
}

.newslist .author {
	width: 220px;
	margin-top: 30px;
	margin-left: 20px;
	font-size: 21px;
	font-weight: 100;
	text-align: left;
	float: left;
}

.news_title_author_date span {
	width: 110px;
    float: right;
    margin-top: 30px;
	margin-right: 30px;
    font-size: 21px; 
    text-decoration: underline;
}

.newslist .brief {
	margin-top: 20px;
	margin-left: 55px;
	margin-right: 100px;
	font-size: 18px;
	font-weight: 100;
	width: 1000px;
}

.news_tags_comments {
	width: 1150px;
}

.news_tags_comments .tag {
	margin-top: 10px;
	margin-right: 25px;
	color: gray;
	font-size: 17px;
	display: inline;
	float: right;
	width: 854px;
	text-align: right;
	margin-bottom: 15px;
	height: 20px;
}

.news_tags_comments .comments {
	margin-top: 10px;
	margin-right: 25px;
	color: red;
	font-size: 17px;
	display: inline;
	float: right;
	width: 124px;
	margin-bottom: 15px;
}

.newslist .news_tags_comments .links {
	margin-top: 8px;
    margin-right: 30px;
    font-size: 19px; 
    font-weight: normal; 
    color: #0080ff;
    float: right; 
    width: 92px;
    margin-bottom: 15px;
}

.title {
    float: left;
    font-weight: 900;
    font-size: 30px;
    width: 700px;
    text-indent: 10px;
}

.brief {
	float: left;
    font-weight: normal;
    font-size: 20px;
}

.filter {
	height: 40px !important;
	margin-left: 218px;
	margin-top: 25px;
	font-size: 19px;
}

.filter .multiselect {
	width: 220px;
	height: 25px;
	margin-left: 20px;
	float: left;
}

.select_box {
	position: relative;
}

.select_box select {
	width: 220px;
	height: 25px;
}

select {
	height: 25px;
	outline: none;
}

.over_select {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	position: relative;
	display: none;
	border: 1px solid #1C90FF;
	background: white;
	width: 218px;
}

#checkboxes label {
	font-family: arial;
	font-size: 13px;
	height: 18px;
	display: block;
	cursor: default;
}

label:hover, label:active, input:hover+label, input:active+label {
	background: #1C90FF;
	color: #fff;
}

label span {
	vertical-align: 2px;
}

label input {
	margin: 3px 0 0 3px;
}

.filter_button_area {
	margin-left: 20px;
	float: left;
}

.filter_button_style {
	cursor: pointer;
	width: 90px;
	height: 25px;
	font-size: 17px;
}

.reset_button_area {
	margin-left: 20px;
	margin-right: 236px;
	float: right;
	margin-top: -40px;
}

.filter select {
	width: 220px;
	border-radius: 3px;
	border: 1px solid gray;
}

.pagelist {
	font-size: 19px;
	position: absolute;
	bottom: 50px;
}

.paging {
	position: absolute;
	width: 1120px!important;
	height: 50px!important;
	background-color: #e9eaeb;
	left: 15px;
	right: 15px;
	bottom: 10px;
}

.paging a {
	text-decoration: none;
	font-size: 18px;
}

.page_numbers {
	text-align: center;
	position: relative;
	margin-top: 15px;
}
button {
	cursor: pointer;
}

.message {
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bolder;
}