.news {
	padding: 0 0 0 5px;
	margin-bottom: 65px;
}

.news_title_author_date {
	width: 1150px;
}

.news .title {
	margin-top: 30px;
	margin-left: 20px;
	font-size: 22px;
	font-weight: 700;
	text-align: left;
	padding: 0px 0px 0px 35px;
}

.news .author {
	margin-top: 30px;
	margin-left: 20px;
	font-size: 21px;
	font-weight: 100;
	text-align: left;
	float: left;
}

.news_title_author_date span {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	font-size: 21px;
	text-decoration: underline;
}

.news .text {
	margin-top: 20px;
	margin-left: 55px;
	margin-right: 100px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 100;
	width: 1000px;
}

.title {
	float: left;
	font-weight: 900;
	font-size: 30px;
}

.text {
	float: left;
	font-weight: normal;
	font-size: 20px;
}

.links {
	margin-top: 20px;
	margin-left: 35px;
	font-size: 20px;
}

.news .comments {
	margin-top: 20px;
	margin-left: 55px;
	margin-right: 100px;
	font-size: 18px;
	font-weight: 100;
	width: 600px;
}

.comments span {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 21px;
	text-decoration: underline;
	width: 600px;
}

.comments .commentText {
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	font-size: 19px;
	width: 600px;
	background-color: #dbdbdb;
}

.navigation_buttons {
	width: 1150px;
	position: relative;
}

.next {
	margin-top: 20px;
	margin-right: 35px;
	margin-bottom: 30 px;
	font-size: 20px;
	position: absolute;
	bottom: 20px; right: 10px;
	float: right;
}

.previous {
	margin-top: 20px;
	margin-left: 35px;
	margin-bottom: 30 px;
	font-size: 20px;
	position: absolute;
	bottom: 20px; left: 10px;
	float: left;
}

.postComment {
	float: left;
	margin-top: 20px;
	margin-left: 75px;
	font-size: 19px;
	width: 600px;
}

textarea {
	width: 595px;
}

input {
	margin-top: 10px;
	float: right;
	height: 25px;
}