.authorsList {
	padding-left: 0;
}

.author {
	font-family: serif;
	width: 900px;
	margin: 0 0 20px 0;
	list-style: none;
}

.author:first-child {
	margin-top: 50px;
}

.author .authorword {
	font-size: 18px;
	font-weight: bolder;
	float: left;
	margin: 0 20px 0 50px;
}

.author input {
	width: 450px;
	background: #eaeaea;
	color: #787878;
	border: 1px solid #787878;
}

.update, .expire, .cancel {
	display: none;
}

.author span a {
	margin-left: 10px;
}

.add-author-word {
	font-size: 18px;
	font-weight: bolder;
	float: left;
	margin: 0 20px 0 50px;
}

.author .add-author-input {
	width: 450px;
	background: #ffffff;
	color: #000000;
	border: 1px solid #787878;
}

#div-author-form {
	margin-top: 50px;
}

.author .submitLink {
	font-family: serif;
	font-size: 19px;
	margin-left: 10px;
	width: auto;
	padding: 0;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	color: blue;
	cursor: pointer;
	outline: none;
	
}

.author .update, .author .expire, .author .cancel, .author .edit {
	font-family: serif;
	font-size: 19px;
	margin-left: 10px;
	width: auto;
	padding: 0;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	color: blue;
	cursor: pointer;
	outline: none;
}

form{
	display: inline;
}