.header {
	width: 1150px;
	height: 86px;
	border: 2px solid black;
	margin: 0px auto;
	border-bottom: none;
	position: relative;
}

.header_title {
	float: left; font-size : 36px;
	font-weight: bold;
	font-family: Arial;
	color: #0000bb;
	padding: 22px;
	font-size: 36px;
}

.footer {
	border: 2px solid black;
	border-top: none;
	width: 1150px;
	margin: 0px auto;
	font-size: 18px;
	text-align: center;
	padding: 5px 0;
}

.body {
	position: relative;
	margin: 0px auto;
	border: 2px solid black;
	float: center;
	background: #ffffff;
	color: #000;
	width: 1150px;
	height: 750px;
	font-size: 14px;
	overflow-y: auto;
}

.loginbody {
	position: relative;
	margin: 0px auto;
	border: 0px;
	float: center;
	background: #ffffff;
	color: #000;
	width: 1100px;
	height: 750px;
	font-size: 14px;
	overflow-y: auto;
}

.menu {
	width: 225px;
	float: left;
	background-color: #dbdbdb;
}

.menu ul {
	padding-left: 25px;
	background-color: white;
	margin: 0 16px 16px 16px;
	padding-bottom: 8px;
}

li {
	font-size: 17px;
	padding-top: 8px;
}

.content {
	border-left: 2px solid #dfdfdf;
	position: relative;
	width: 920px;
	height: 750px;
	float: right;
}

.localization {
	float: right;
	margin: 45px 10px 0 0;
}

span a {
	font-size: 19px;
	margin-right: 8px;
}

.logout {
	position: absolute;
	top: 15px;
	right: 18px;
}

.logout button {
	width: 64px;
}