table {
	vertical-align: middle;
	margin: 0px auto;
	margin-top: 250px;
}
td {
	position: relative;
	padding: 3px;
	font-weight: bolder;
}
button {
	float: right;
}
.error {
	position: absolute;
	top: 6px;
	color: red;
}
input {
	width: 200px;
}