.news {
	padding: 0 0 0 5px;
}

.news_title {
	width: 800px;
	margin-top: 15px;
	margin-left: 30px;
	font-size: 21px;
	font-weight: 700;
	text-align: left;
}

.news .author_date {
	width: 850px;
	margin-left: 30px;
	font-size: 21px;
	font-weight: 100;
	text-align: left;
}

.author {
	float: left;
    margin-top: 15px;
    font-size: 21px; 
}

.date {
	float: right;
    margin-top: 15px;
    font-size: 21px; 
    text-decoration: underline;
}

.news .text {
	margin-top: 20px;
	margin-left: 30px;
	font-size: 18px;
	font-weight: 100;
	width: 840px;
}

.title {
	float: left;
	font-weight: 900;
	font-size: 30px;
}

.text {
	float: left;
	font-weight: normal;
	font-size: 20px;
}

.links {
	margin-top: 20px;
	margin-left: 35px;
	font-size: 20px;
}

.news .comments {
	margin-top: 20px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: 100;
	width: 600px;
}

.comments span {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 21px;
	text-decoration: underline;
	width: 600px;
}

.comments .commentText {
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	font-size: 19px;
	width: 560px;
	background-color: #dbdbdb;
	position: relative;
	word-wrap: break-word;
	padding: 3px 30px 3px 10px;
}

.deleteButton {
	position: absolute;
	right: 0;
	top: 0;
}

.navigation_buttons {
	width: 1150px;
	position: relative;
}

.next {
	margin-top: 20px;
	margin-right: 35px;
	margin-bottom: 30 px;
	font-size: 20px;
	position: absolute;
	bottom: 20px;
	right: 10px;
	float: right;
}

.previous {
	margin-top: 20px;
	margin-left: 35px;
	margin-bottom: 30 px;
	font-size: 20px;
	position: absolute;
	bottom: 20px;
	left: 10px;
	float: left;
}

.postComment {
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 19px;
	width: 600px;
}

textarea {
	width: 595px;
}

input {
	margin-top: 10px;
	float: right;
	height: 25px;
}