.newsField {
	font-family: serif;
	width: 900px;
	margin: 0 0 30px 0;
}

.newsField:first-child {
	margin-top: 50px;
}

.newsField span {
	font-size: 18px;
	font-weight: bolder;
	float: left;
	width: 100px;
	margin: 0 20px 0 50px;
}

.newsField input {
	width: 600px;
}

.newsField input[name=date] {
	width: 150px;
}

.newsField textarea {
	max-width: 600px;
	width: 600px;
	height: 80px;
}

input, textarea {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

textarea[name="shortText"] {
	max-height: 80px;
}

textarea[name="fullText"] {
	max-height: 280px;
}

.dropdowns {
	height: 40px !important;
	margin-left: 205px;
	margin-top: 25px;
	font-size: 19px;
}

.dropdowns .multiselect {
	width: 220px;
	height: 25px;
	margin-left: 20px;
	float: left;
}

.select_box {
	position: relative;
}

.select_box select {
	width: 220px;
	height: 25px;
}

select {
	width: 220px;
	height: 25px;
	outline: none;
}

.over_select {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	position: relative;
	display: none;
	border: 1px solid #1C90FF;
	background: white;
	width: 218px;
}

#checkboxes label {
	font-family: arial;
	font-size: 13px;
	height: 18px;
	display: block;
	cursor: default;
}

label:hover, label:active, input:hover+label, input:active+label {
	background: #1C90FF;
	color: #fff;
}

label span {
	vertical-align: 2px;
}

label input {
	margin: 3px 0 0 3px;
}

.savebutton {
	float: right;
	margin-right: 150px;
}

.savebutton input {
	margin-top: 10px;
	min-height: 30px;
	min-width: 100px;
	min-height: 30px;
}

.lockMessage {
    color: #ff0000;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: bolder;
}