.tagsList {
	padding-left: 0;
	max-height: 630px;
	overflow: auto;
}

.tag {
	font-family: serif;
	width: 900px;
	margin: 0 0 20px 0;
	list-style: none;
}

.tag:first-child {
	margin-top: 30px;
}

.tag .tagword {
	font-size: 18px;
	font-weight: bolder;
	float: left;
	margin: 0 20px 0 50px;
}

.tag input {
	width: 450px;
	background: #eaeaea;
	color: #787878;
	border: 1px solid #787878;
}

.update, .delete, .cancel {
	display: none;
}

.tag span a {
	margin-left: 10px;
}

.add-tag-word {
	font-size: 18px;
	font-weight: bolder;
	float: left;
	margin: 0 20px 0 50px;
}

.tag .add-tag-input {
	width: 450px;
	background: #ffffff;
	color: #000000;
	border: 1px solid #787878;
}

#div-tag-form {
	margin-top: 30px;
}

.tag .submitLink {
	font-family: serif;
	font-size: 19px;
	margin-left: 10px;
	width: auto;
	padding: 0;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	color: blue;
	cursor: pointer;
	outline: none;
	
}

.tag .update, .tag .delete, .tag .cancel, .tag .edit {
	font-family: serif;
	font-size: 19px;
	margin-left: 10px;
	width: auto;
	padding: 0;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	color: blue;
	cursor: pointer;
	outline: none;
}

form {
	display: inline;
}